.popping {
  animation: pop-in 0.6s ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.skill-item {
  text-align: center;
}

.skill-image {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  margin-bottom: 10px;
}

.skill-label {
  font-size: 1rem; /* Adjust the size as needed */
  font-weight: bold;
}
